[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "icmm"]
	path = icmm
	url = https://github.com/cran/icmm
	shallow = true
	registered = true
